html {
  font-family: 'Open Sans', sans-serif;
}
#display {
  font-size: 30px;
  height: 110px;
  width: 280px;
  background-color: steelblue;
  color: white;
  text-align: right;
  overflow: hidden;
  justify-content: flex-end;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 40px;
  border: 1px solid black;
  margin-bottom: 10px;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#main {
  height: 410px;
  width: 300px;
  background-color: slategrey;
  border: 20px solid slategrey;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
}
.buttons {
  height: 60px;
  width: 75px;
  font-size: 20px;
  background-color: rgb(207, 207, 207);
  border: 1px solid black;
  outline: none;
}
.buttons:hover {
  background-color: rgb(197, 197, 197);
}

#clear {
  background-color: rgb(187, 206, 146);
}
#clear:hover {
  background-color: rgb(179, 196, 139);
}
#add {
  background-color: rgb(196, 184, 184);
}
#add:hover {
  background-color: rgb(179, 167, 167);
}
#subtract {
  background-color: rgb(196, 184, 184);
}
#subtract:hover {
  background-color: rgb(179, 167, 167);
}
#multiply {
  background-color: rgb(196, 184, 184);
}
#multiply:hover {
  background-color: rgb(179, 167, 167);
}
#divide {
  background-color: rgb(196, 184, 184);
}
#divide:hover {
  background-color: rgb(179, 167, 167);
}
